/*
	glDatePicker style inspired by the calendar app in FireFly 3.0 rom

	http://code.gautamlad.com/glDatePicker/
	https://github.com/glad/glDatePicker/
	http://forum.xda-developers.com/showthread.php?t=914284
*/

/* Calendar container div */
.gldp-android
{
	float:left;
	font-family:"trebuchet ms" !important;
	background-color:#222 !important;
	font-size:0.8em !important;
	font-weight:bold !important;
}

/* Table style */
.gldp-android table
{
	border-spacing:1px;
	border-collapse:inherit;
}

/* Default style of cell */
.gldp-android td
{
	margin:0;
	padding:0;
	width:33px;
	height:23px;
	line-height:25px;
	text-align:center;
}

/* Previous and Next arrows */
.gldp-android-prevnext
{
	font-family:"times new roman";
	background-color:#222;
	color:#fff;
	cursor:pointer;
}

/* Month Year title */
.gldp-android-monyear
{
	background-color:#222;
	color:#fff;
	font-size:0.9em;
}

/* Days of the week (Sun, Mon, ...) */
.gldp-android-dow
{
	background-color:#424852;
	color:#ddd;
	font-size:0.8em;
}

/* Selectable days */
.gldp-android-day
{
	background-color:#000;
	color:#fff;
	border:solid 1px #000;
}
.gldp-android-day-hover
{
	background-color:#000;
	color:#fff;
	border:solid 1px #00afff;
	cursor:pointer;
}

/* Today */
.gldp-android-today
{
	background-color:#00afff;
	color:#fff;
	border:solid 1px #00afff;
}
.gldp-android-today-hover
{
	background-color:#fff;
	color:#00afff;
	border:solid 1px #00afff;
	cursor:pointer;
}

/* Weekends */
.gldp-android-sat, .gldp-android-sat-hover
{
	background-color:#000;
	color:#00afff;
	border:solid 1px #000;
}

.gldp-android-sun, .gldp-android-sun-hover
{
	background-color:#000;
	color:#ff4f00;
	border:solid 1px #000;
}

/* Non-selectable day.  Includes: previous/next month days and days that fall in the allowOld and endDate conditions */
.gldp-android-noday
{
	background-color:#222;
	color:#666;
	font-weight:normal;
	cursor:wait;
}