div.syntaxhighlighter
{
	background-color: #111 !important;
	width:700px;
}
.syntaxhighlighter table
{
	padding:10px;
}
.syntaxhighlighter .line.alt1
{
}
.syntaxhighlighter .line.alt2
{
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2
{
}
.syntaxhighlighter .line.highlighted.number
{
	color: #b9bdb6 !important;
}
.syntaxhighlighter table caption
{
	color: #b9bdb6 !important;
}
.syntaxhighlighter .gutter
{
	color: #afafaf !important;
}
.syntaxhighlighter .gutter .line
{
	border-right: 3px solid #435a5f !important;
}
.syntaxhighlighter .gutter .line.highlighted
{
	color: #111 !important;
}
.syntaxhighlighter.printing .line .content
{
	border: none !important;
}
.syntaxhighlighter.collapsed
{
	overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar
{
	color: #5ba1cf !important;
	border: 1px solid #435a5f !important;
}
.syntaxhighlighter.collapsed .toolbar a
{
	color: #5ba1cf !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover
{
	color: #5ce638 !important;
}
.syntaxhighlighter .toolbar
{
	color: white !important;
	border: none !important;
}
.syntaxhighlighter .toolbar a
{
	color: white !important;
}
.syntaxhighlighter .toolbar a:hover
{
	color: #e0e8ff !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a
{
	color: #b9bdb6 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a
{
	color: #666 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a
{
	color: #8ff638 !important;
}
.syntaxhighlighter .keyword
{
	color: #5ba1cf !important;
}
.syntaxhighlighter .preprocessor
{
	color: #435a5f !important;
}
.syntaxhighlighter .variable
{
	color: #ffaa3e !important;
}
.syntaxhighlighter .value
{
	color: #009900 !important;
}
.syntaxhighlighter .functions
{
	color: #ffaa3e !important;
}
.syntaxhighlighter .constants
{
	color: #e0e8ff !important;
}
.syntaxhighlighter .script
{
	font-weight: bold !important;
	color: #5ba1cf !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a
{
	color: #e0e8ff !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a
{
	color: white !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a
{
	color: #ffaa3e !important;
}